html, body
  height: 100%

body
  display: none

.col-md-7, .col-md-4
  height: 100%

.about
  font-size:18px

.row
  height: 100%

img
  border-right: 1px solid #EAEAEA

.vcenter
  position: relative
  top: 50%
  -webkit-transform: translateY(-50%)
  -moz-transform: translateY(-50%)
  -transform: translateY(-50%)
