<h1> Installation </h1>
<hr>
<h2> Windows </h2>
<p>You can find an executable version of Kona 
    <a href="https://github.com/kevinlawler/kona/releases"> here.</a>
</p>
<hr>
<h2> Build from source </h2>
<p> Navigate to the file you want to install Kona, then type:</p>
<!-- Indentation MUST be this way, since the <pre> tag is indenation sensative -->
<pre>git clone https://github.com/kevinlawler/kona.git
cd kona
make</pre>
<p>Then once inside of the kona file you can run Kona by typing:</p>
<pre>./k</pre>
<div class="text-center">
	<a href="#" target="_self" class="btn btn-default text-center">Back to Home</a>
</div>